.git
.github/*
!.github/workflows/
!.github/workflows/*.yml

__pycache__
*.py[cod]
*.pyo
*.pyd
.venv
venv
env
ENV
.env
.envrc
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints
*.log
research
training
artifacts
logs
frontend/node_modules
frontend/dist
*.ipynb
*.egg-info/
*.zip
